input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main_container, .item_container {
    padding: 10px 10px;
    margin: 10px 10px;
}

.main_container {
    margin: 30px 30px;
}

.item_container, .item_card  {
    padding: 10px 10px;
    margin: 10px 10px;
}

.item_card_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
}

.item_row_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_card {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.item_card_box {
    width: 300px;
    height: 400px;
    max-width: 300px;
    max-height: 420px;
}
.item_row_box {
    /* display: grid;
    grid-template-columns: 50px 80% 50px; */
    display: flex;
    align-items: center;
    height: 60px;
    width: 80%;
}
.item_row_checkbox {
    width: 20px;
    height: 20px;
    margin: 20px;
}
.item_content_box {
    width: 90%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
.font_interval {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.font_b {
    font-size: 20px;
    font-weight: bold;
}

.font_s {
    font-size: 12px;
    color: gray;
}
.item_card_thumnail_box {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.item_card_thumnail {
    width: 190px;
    height: 275px;
    max-width: 300px;
    max-height: 450px;
}

.item_row_thumnail {
    height: 60px;
}
.item_card_updateBtn {
    display: none;
}
.item_row_updateBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: gray;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 30px;
}
.possible_rent {

}

.impossible_rent {
    pointer-events: none;  /* 클릭 막기 */
    opacity: 0.5;          /* 흐리게 표시 */
    cursor: not-allowed;  
    color: gray;
}